html {
    font-size: 62/5%;
}
body {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-family: $font-body;
    color: $text-color;
    background-color: $background;
}

$heading-colors: $blue, $purple, $green, $red, $orange, $yellow;
h1, h2, h3, h4, h5, h6 {
    font-family: $font-headings;
}
@for $item from 1 through length($heading-colors) {
    h#{$item} {
        color: nth($heading-colors, $item);
    }
}

.container {
    width: 80%;
    margin: 0 auto;
}