html {
    font-size: 62/5%;
}
body {
    margin: 0;
    padding: 0;
    font-size: 1.8rem;
    font-family: $font-body;
    color: $text-color;
    background-color: $background;
}
h1, h2, h3, h4, h5, h6 {
    color: $red;
    font-family: $font-headings;
}
.container {
    width: 80%;
    margin: 0 auto;
}