@import url('https://fonts.googleapis.com/css?family=Hepta+Slab|Oswald&display=swap');
$background: #EEE8D6;
$text-color: #022933;
$darkblue:   #001e25;
$red:        #d14348;
$blue:       #0076a3;
$yellow:     rgb(216, 194, 65);
$font-body:     'Hepta Slab';
$font-headings:   'Oswald';

$color-item-border: $red;
$color-media-head: $blue;
